<div class="nav clearfix">
  <%= link_to t("share.nav.home"), root_path, :class => "logo" %>
  <%= link_to t("share.nav.about_us"), about_us_path, :class => "about" %>
  <nav>
    <% if current_user %>
      <a href="<%= new_post_path %>"><span class="glyphicon glyphicon-plus-sign"></span><%= t("share.nav.create") %></a>
      <div class="dropdown">
        <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" data-target="#" aria-expanded="false">
          <%= current_user.username %>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dLabel">
          <li><%= link_to t("share.nav.my_acct"), profile_path %></li>
          <li><%= link_to t("share.nav.update_acct"), edit_user_registration_path %></li>
          <li>
            <%= link_to t("share.nav.log_out"),
            destroy_user_session_path, :method => :delete %>
          </li>
        </ul>
      </div>
    <% else %>
      <%= link_to t("share.nav.log_in"), login_path %>
      <%= link_to t("share.nav.sign_up"),
        signup_path %>
    <% end %>
     <nav class="lan-group">
      <%= link_to_unless_current "ENG", {locale: "en"}, :class => "lan" %>|<%= link_to_unless_current "中文", {locale: "zh-TW"}, :class => "lan" %>
    </nav>
  </nav>
</div>