<%= f.label :title %>
<%= f.text_field :title %>
<%= f.label :category %>
<%= f.collection_select :category, Category.all, :id, :name, preselect_category(@post), id: "category_id" %>
<div id="subcategories_select">
  <% if @post.sub_category != "" %>
    <%= f.collection_select :sub_category, Category.find_by_name(@post.category).sub_categories, :name, :name %>
  <% end %>
</div>
<%= f.label :price %>
<%= f.text_field :price %>
<%= f.label :address %>
<%= f.text_field :address %>
<%= f.label :content %>
<%= f.text_area :content, :rows => 30, :cols => 80 %>
<%= f.submit %>
