<%= f.text_field :title, :placeholder => "e.g. Selling Econ 401 textbook)" %>
<%= f.collection_select :category, Category.all, :id, :name, preselect_category(@post), id: "category_id" %>
<div id="subcategories_select">
  <% if @post.sub_category != "" %>
    <%= f.collection_select :sub_category, Category.find_by_name(@post.category).sub_categories, :name, :name %>
  <% end %>
</div>
<div class="clearfix"></div>
<%= f.label :price_hide, "隱藏價格" %>
<%= f.check_box :price_hide, {}, true, false %>
<%= f.label :price, "價格" %>
<%= f.text_field :price %>
<%= f.label :address, "所在城市" %>
<%= f.text_field :address, :value => (@post.address ||request.location.city), :placeholder => "e.g. New York" %>
<% unless @post.title != "" && @post.title != nil %>
  <p class="img">上傳圖片(最多5張)</p>
  <div class="file-input-wrapper">
    <i class="glyphicon glyphicon-plus"></i>  
    <%= f.file_field :images, multiple: true %>
  </div>
  <div class="name-preview"></div>
<% end %>
<%= f.label :content, "內容" %>
<%= f.text_area :content, :rows => 30, :cols => 80 %>
<div class="clearfix submit">
  <%= f.submit "發佈" %>
</div>
