<%= f.text_field :title, :placeholder => t("share.create_post.title_ph") %>
<%= f.collection_select :category, Category.all, :id, :name, preselect_category(@post), id: "category_id" %>
<div id="subcategories_select">
  <% if @post.sub_category != "" %>
    <%= f.collection_select :sub_category, Category.find_by_name(@post.category).sub_categories, :name, :name %>
  <% end %>
</div>
<div class="clearfix"></div>
<%= f.label :price_hide, t("share.create_post.price_hide_label") %>
<%= f.check_box :price_hide, {}, true, false %>
<%= f.label :price, t("share.create_post.price_label") %>
<%= f.text_field :price %>
<%= f.label :address, t("share.create_post.address_label") %>
<%= f.text_field :address, :value => (@post.address ||request.location.city), :placeholder => t("share.create_post.address_ph") %>
<% unless @post.title != "" && @post.title != nil %>
  <p class="img"></p>
  <div class="file-input-wrapper">
    <i class="glyphicon glyphicon-plus"></i>  
    <%= f.file_field :images, multiple: true %>
  </div>
  <div class="name-preview"></div>
<% end %>
<%= f.label :content, t("share.create_post.content_label") %>
<%= f.text_area :content, :rows => 30, :cols => 80 %>
<div class="clearfix submit">
  <%= f.submit t("share.create_post.submit") %>
</div>
