<div class="search">
  <%= form_tag posts_path, method: :get, :id => "search_form" do %>
    <input name="utf8" type="hidden" value="&#x2713;" />
    <%= text_field_tag :keyword, "", :placeholder => "Keyword", :class => "search_keyword" %>
    <select name="category" id="category">
      <option  value="All">All</option>
      <% Category.all.each do |c| %>
        <option value="<%= c.name %>" 
          <% if cookies[:search_cat] == c.name %>
            selected="selected"
          <% end %>
        ><%= c.name %></option>
      <% end %>
    </select>
    <%= text_field_tag :city, cookies[:search_city] || "", :placeholder => "City" %>
    <%= number_field_tag :radius, cookies[:search_radius] || 20, :placeholder => "Radius" %>
    <%= submit_tag "Search Posts", id: "posts_search" %>
  <% end %>
</div>
