<div class="search">
  <%= form_tag posts_path, method: :get, :id => "search_form" do %>
    <input name="utf8" type="hidden" value="&#x2713;" />
    <%= text_field_tag :keyword, "", :placeholder => "關鍵字", :class => "search_keyword" %>
    <label>分類</label>
    <select name="分類" id="category">
      <option  value="All">全部</option>
      <% Category.all.each do |c| %>
        <option value="<%= c.name %>" 
          <% if cookies[:search_cat] == c.name %>
            selected="selected"
          <% end %>
        ><%= c.name %></option>
      <% end %>
    </select>
    <%= text_field_tag :city, cookies[:search_city] || request.location.city, :placeholder => "所在地" %>
    <%= number_field_tag :radius, cookies[:search_radius] || 20, :placeholder => "半俓範圍（Mile）" %>
    <%= submit_tag "搜尋", id: "posts_search" %>
  <% end %>
</div>
