<div id="sign-up-page">
  <section class="up">
    <%= render partial: "share/nav" %>
  </section>
  <section class="main">
    <h1><%= t("devise.reg.new.register") %></h1>
    <p><%= t("devise.reg.new.sign_here") %></p>
    <div class="form-wrapper">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        <div class="field">
          <%= f.label :email, t("devise.reg.new.email_label") %><em><%= t("devise.reg.new.email_notice") %></em><br />
          <%= f.email_field :email, autofocus: true %>
        </div>
        <div class="username">
          <%= f.label :username, t("devise.reg.new.username_label") %><br />
          <%= f.text_field :username %>
        </div>
        <div class="field">
          <%= f.label :password, t("devise.reg.new.pw_label") %>
          <% if @minimum_password_length %>
          <em><%= t("devise.reg.new.pw_notice_1") %><%= @minimum_password_length %><%= t("devise.reg.new.pw_notice_2") %></em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>
        <div class="field">
          <%= f.label :password_confirmation, t("devise.reg.new.reenter_pw") %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>
        <div class="actions">
          <%= f.submit t("devise.reg.new.register") %>
        </div>
        <div class="devise-share">
          <%= render "devise/shared/links" %>
        </div>
      <% end %>
    </div>
  </section>
</div>

