<div id="login-page">
  <section class="up">
    <%= render partial: "share/nav" %>
  </section>
  <section class="main">
    <h1>Log In</h1>
    <p>Please login here!</p>
    <div class="form-wrapper">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true %>
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: "off" %>
        <% if devise_mapping.rememberable? -%>
            <%= f.check_box :remember_me, :class => 'rem' %>
            <%= f.label :remember_me, :class => 'rem-label' %>
        <% end %>
          <%= f.submit "Log in" %>
          <%= render "devise/shared/links" %>
      <% end %>
    </div>
</div>





