<div id="edit-post-page">
  <section class="up">
    <%= render partial: "share/nav" %>
  </section>
  <section class="main">
    <div class="edit-text clearfix">
      <div>
        <h1><%= t(".update_post") %></h1>
        <p><%= t(".intro") %></p>
      </div>
    </div>
    <%= form_for @post, url: post_images_path(@post), method: :post, html: {:class => "clearfix img-form"} do |f| %>
      <%= render partial: "share/images_form", locals: {
        :f => f} %>
    <% end %>
    <hr>
    <%= form_for @post do |f| %>
      <% if @post.errors.any? %>
        <%= render partial: "share/post_form_error" %>
      <% end %>
      <%= render partial: "share/post_form", locals: {:f => f} %>
    <% end %>
    <%= link_to t(".delete"), post_path(@post), method: :delete, class: "delete-post" %>
  </section>
</div>