<div id="posts-index-page">
  <section class="up">
    <div class="nav clearfix">
      <%= link_to "hey!List", root_path, :class => "logo" %>
      <%= link_to "關於hey!List", about_us_path, :class => "about" %>
      <nav>
        <% if current_user %>
          <a href="<%= new_post_path %>"><span class="glyphicon glyphicon-plus-sign"></span>發布廣告</a>
          <div class="dropdown">
            <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" data-target="#" aria-expanded="false">
              <%= current_user.username %>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dLabel">
              <li><%= link_to "我的帳戶", profile_path %></li>
              <li><%= link_to "更新帳戶", edit_user_registration_path %></li>
              <li>
                <%= link_to "登出",
                destroy_user_session_path, :method => :delete %>
              </li>
            </ul>
          </div>
        <% else %>
          <%= link_to "登入", login_path %>
          <%= link_to "注冊",
            signup_path %>
        <% end %>
      </nav>
    </div>
    <div class="main-text">
      <h1>歡迎來到 hey!List</h1>
      <p class="small">-留學生的免費分類廣告</p>
      <p class="intro">在這裡你可以買賣東西，找室友／旅行伙伴，租房。</p>
    </div>
  </section>
  <section class="main">

    <%= render(:partial => "share/search_form") %>
    <div class="posts-wrapper">
      <div class="posts">
      <% @posts.each do |p| %>
        <div class="one-post">
          <a href="<%= post_path(p.id) %>">
            <div class="top clearfix">
              <p class="cat"><%= p.category %></p>
              <h3><%= truncate(p.title, length: 40) %></h3>
              <p class="price">
              <% if !p.price_hide %>
                <%= number_to_currency(p.price, precision: 3, significant: true, strip_insignificant_zeros: true) %>
              <% end %>
              </p>
            </div>
            <div class="bottom clearfix">
              <p>
                <span class="label label-<%= get_label(p.sub_category) %>"><%= p.sub_category %></span>
                <% if !p.sub_category.empty? %>
                  &#183;
                <% end %>
                <span class="location"><%= p.address %></span>
                &#183;
                <span class="create-at"><%= user_timezone(p.created_at).strftime("%b %e, %l:%M %p") %></span>
              </p>
            </div>
            <% if auth(p) %>
              <div class="post-buttons" style="display: none">
                <%= link_to "編輯", edit_post_path(p), :class => "edit-post" %>
                <%= link_to "刪除", post_path(p), :method => :delete, :data => {:confirm => "你確定嗎?"}, :class => "delete-post" %>
              </div>
            <% end %>
          </a>
        </div>
      <% end %>
      </div>
    </div>
  </section>
</div>





