<h1>Display All Posts</h1>
<ul>
  <li>Serve as the root path</li>
  <li>Able to Search</li>
  <li>Lead to Details</li>
</ul>

<%= link_to "Create Post", new_post_path %>

<table>
  <% @posts.each do |p| %>
    <tr>
      <td><%= p.title %></td>
      <td><%= p.category %></td>
      <td><%= p.sub_category %></td>
      <td><%= p.price %></td>
      <td><%= user_timezone(p.created_at).strftime("%b %e, %l:%M %p") %></td>
      <td><%= user_timezone(p.updated_at).strftime("%b %e, %l:%M %p") %></td>
      <td>
        <%= link_to "Delete Post", post_path(p), :method => :delete, :data => {:confirm => "Are you sure?"} %>
      </td>
    </tr>
  <% end %>
</table>


