<div id="show-post-page">
    <section class="up">
      <%= render partial: "share/nav" %>
    </section>
    <section class="main">
      <div class="top clearfix">
        <% if auth(@post) %>
          <%= link_to "編輯", edit_post_path(@post), class: "edit" %>
        <% end %>
      </div>
      <div class="left">
        <div class="main-wrapper">
          <div class="cat-group clearfix">
            <p class="cat"><%= @post.category %></p>
            <span class="label label-<%= get_label(@post.sub_category) %>">
            <% unless @post.sub_category.nil? %>
              <%= @post.sub_category %>
            <% end %>
            </p>
          </div>
          <div class="title-group clearfix">
            <h1 class="title"><%= @post.title %></h1>
            <h1 class="price">
              <% if !@post.price_hide %>
                <%= number_to_currency(@post.price, precision: 3, significant: true, strip_insignificant_zeros: true) %>
              <% end %>
            </h1>
          </div>
          <div class="address-group clearfix">
            <span>所在地</span>
            <p class="address"><%= @post.address %></p>
            <p>&nbsp;&#183;</p>
            <span>發布時間</span>
            <p class="created_at"><%= user_timezone(@post.created_at).strftime("%b %e, %l:%M %p") %></p>
          </div>
          <% if @post.images.present? %>
          <div class="img-wrapper-wrapper">
            <div class="img-wrapper clearfix" style="width: <%= @post.images.length * 220 %>px">
              <% counter = 0 %>
              <% @post.images.each do |i| %>
                <button data-toggle="modal" data-target=".<%= counter.to_s + "_image" %>">
                  <img src="<%= i.small.url %>">
                </button>
                  <div class="modal core fade <%= counter.to_s + "_image" %>" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                    <div class="modal-dialog modal-sm">
                      <div class="modal-content">
                        <%= image_tag(i.medium.url) %>
                      </div>
                    </div>
                  </div>
                  <% counter += 1 %>
              <% end %>
              <% counter = 0 %>
            </div>
          </div>
          <% end %>
          <div class="content">
            <p class="text">內容</p>
            <div class="core">
             <%= markdown(@post.content) %>
            </div>
          </div>
        </div>
        <div class="map-wrapper">
          <p>地圖</p>
          <iframe width="100%" height="91%" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=<%= @post.latitude %>,<%= @post.longitude %>&amp;key=AIzaSyBm7SRVgQ-_xrbIVn07LDXu7wpcys_Sqtw"></iframe>
        </div>
        <div class="comment-wrapper" id="comment-section">
          <% if current_user %>
            <%= render(:partial => "share/comment_form") %>
          <% end %>
          <p class="text"><%= @post.comments.count %>留言</p>
          <% @post.comments.order("created_at DESC").each do |c| %>
            <div class="one-comment">
              <div class="top clearfix">
                <p class="content"><%= c.content %></p>
                <% if auth(c) %>
                  <%= link_to "Delete", comment_path(c), method: :delete %>
                <% end %>
              </div>
              <div class="bottom">
                By
                <span class="poster"><%= c.user.username %></span>
                @
                <span class="time"><%= user_timezone(c.created_at).strftime("%b %e, %l:%M %p") %></span>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="right">
        <div class="post-owner">
          <p class="text">發佈者</p>
          <h2 class="username"><%= @post.user.username %></h2>
          <table>
            <tr>
              <th>微信</th>
              <td><%= @post.user.wechat != "" ? @post.user.wechat : "empty" %></td>
            </tr>
            <tr>
              <th>電話號碼</th>
              <td><%= @post.user.phone != "" ? @post.user.phone : "empty" %></td>
            </tr>
            <tr>
              <th>電郵</th>
              <td><%= @post.user.contact_email != "" ? @post.user.contact_email : "empty" %></td>
            </tr>
          </table>
        </div>
      </div>
    </section>
  </div>