<h1>Single Post</h1>
<%= @post.title %>
<%= @post.category %>
<% unless @post.sub_category.nil? %>
  <%= @post.sub_category %>
<% end %>
<%= @post.price %>
<%= @post.content %>
<%= @post.created_at %>
<%= @post.updated_at %>
