<h1>Single Post</h1>
<%= @post.title %>
<%= @post.category %>
<% unless @post.sub_category.nil? %>
  <%= @post.sub_category %>
<% end %>
<% if @post.price_visible %>
  <%= number_to_currency(@post.price, precision: 3, significant: true, strip_insignificant_zeros: true) %>
<% end %>
<%= markdown(@post.content) %>
<%= user_timezone(@post.created_at).strftime("%b %e, %l:%M %p") %>
<%= user_timezone(@post.updated_at).strftime("%b %e, %l:%M %p") %>
<%= @post.address %>
<%= @post.latitude %>
<%= @post.longitude %>
<%= link_to "Home Page", root_path %>
<%= link_to "Edit Page", edit_post_path(@post) %>
