<h1>My Profile</h1>
<table>
  <tr>
    <th>Username</th>
    <td><%= current_user.username %></td>
  </tr>
  <tr>
    <th>School</th>
    <td><%= current_user.school %></td>
  </tr>
  <tr>
    <th>Major</th>
    <td><%= current_user.major %></td>
  </tr>
  <tr>
    <th>Year of Class</th>
    <td><%= current_user.year_of_class %></td>
  </tr>
  <tr>
    <th>Bio</th>
    <td><%= current_user.bio %></td>
  </tr>
  <tr>
    <th>Admin Status</th>
    <td><%= current_user.admin %></td>
  </tr>
  <tr>
    <th>WeChat</th>
    <td><%= current_user.wechat %></td>
  </tr>
  <tr>
    <th>Phone</th>
    <td><%= current_user.phone %></td>
  </tr>
  <tr>
    <th>Contact Email</th>
    <td><%= current_user.contact_email %></td>
  </tr>
</table>

<div>
  <%= link_to "Home Page", root_path %>
</div>