<div id="profile-page">
  <section class="up">
    <%= render partial: "share/nav" %>
  </section>
  <section class="main">
    <div class="username-group clearfix">
      <h1><%= current_user.username %></h1>
      <%= link_to "編輯用戶", edit_user_registration_path %>
    </div>
      <table>
        <tr>
          <th>學校</th>
          <td>
            <%= current_user.school != "" ? current_user.school : "empty" %>
          </td>
        </tr>
        <tr>
          <th>畢業年份</th>
          <td>
            <%= current_user.year_of_class != nil ? current_user.year_of_class : "empty" %>
          </td>
        </tr>
        <tr>
          <th>專業</th>
          <td>
            <%= current_user.major != "" ? current_user.major : "empty" %>
          </td>
        </tr>
        <tr>
          <th>關於自己</th>
          <td>
            <%= current_user.bio != "" ? markdown(current_user.bio) : "empty" %>
          </td>
        </tr>
        <tr>
          <th>微信</th>
          <td><%= current_user.wechat != "" ? current_user.wechat : "empty" %></td>
        </tr>
        <tr>
          <th>電話號碼</th>
          <td><%= current_user.phone != "" ? current_user.phone : "empty" %></td>
        </tr>
        <tr>
          <th>聯係電郵</th>
          <td><%= current_user.contact_email != "" ? current_user.contact_email : "empty" %></td>
        </tr>
      </table>
  </section>
</div>