<div id="profile-page">
  <section class="up">
    <%= render partial: "share/nav" %>
  </section>
  <section class="main">
    <div class="username-group clearfix">
      <h1><%= current_user.username %></h1>
      <%= link_to t(".edit"), edit_user_registration_path %>
    </div>
      <table>
        <tr>
          <th><%= t(".school") %></th>
          <td>
            <%= current_user.school != "" ? current_user.school : t(".empty") %>
          </td>
        </tr>
        <tr>
          <th><%= t(".y_o_c") %></th>
          <td>
            <%= current_user.year_of_class != nil ? current_user.year_of_class : t(".empty") %>
          </td>
        </tr>
        <tr>
          <th><%= t(".major") %></th>
          <td>
            <%= current_user.major != "" ? current_user.major : t(".empty") %>
          </td>
        </tr>
        <tr>
          <th><%= t(".bio") %></th>
          <td>
            <%= current_user.bio != "" ? markdown(current_user.bio) : t(".empty") %>
          </td>
        </tr>
        <tr>
          <th><%= t(".wechat") %></th>
          <td><%= current_user.wechat != "" ? current_user.wechat : t(".empty") %></td>
        </tr>
        <tr>
          <th><%= t(".phone_no") %></th>
          <td><%= current_user.phone != "" ? current_user.phone : t(".empty") %></td>
        </tr>
        <tr>
          <th><%= t(".c_email") %></th>
          <td><%= current_user.contact_email != "" ? current_user.contact_email : t(".empty") %></td>
        </tr>
      </table>
  </section>
</div>