<div id="profile-page">
  <section class="up">
    <%= render partial: "share/nav" %>
  </section>
  <section class="main">
    <div class="username-group clearfix">
      <h1><%= current_user.username %></h1>
      <%= link_to "Update Profile", edit_user_registration_path %>
    </div>
      <table>
        <tr>
          <th>
            School:
          </th>
          <td>
            <%= current_user.school != "" ? current_user.school : "empty" %>
          </td>
        </tr>
        <tr>
          <th>
            Year of:
          </th>
          <td>
            <%= current_user.year_of_class != nil ? current_user.year_of_class : "empty" %>
          </td>
        </tr>
        <tr>
          <th>
            Major:
          </th>
          <td>
            <%= current_user.major != "" ? current_user.major : "empty" %>
          </td>
        </tr>
        <tr>
          <th>
            Bio:
          </th>
          <td>
            <%= current_user.bio != "" ? markdown(current_user.bio) : "empty" %>
          </td>
        </tr>
        <tr>
          <th>WeChat</th>
          <td><%= current_user.wechat != "" ? current_user.wechat : "empty" %></td>
        </tr>
        <tr>
          <th>Phone</th>
          <td><%= current_user.phone != "" ? current_user.phone : "empty" %></td>
        </tr>
        <tr>
          <th>Contact Email</th>
          <td><%= current_user.contact_email != "" ? current_user.contact_email : "empty" %></td>
        </tr>
      </table>
  </section>
</div>